@import './fonts.css';

:root {
  --neutral-50: hsl(200, 60%, 99%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-900: hsl(227, 75%, 14%);

  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  --gradient-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);
}

[data-theme="light"] {
  --bg: var(--gradient-light);
  --surface: var(--neutral-50);
  --surface-muted: var(--neutral-100);
  --text: var(--neutral-900);
  --theme-switch-icon:url('../assets/images/icon-moon.svg');
}

[data-theme="dark"] {
  --bg: var(--gradient-dark);
  --surface: var(--neutral-800);
  --surface-muted: var(--neutral-700);
  --text: var(--neutral-50);
  --theme-switch-icon: url('../assets/images/icon-sun.svg');


}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  background: var(--bg);
  background-repeat: no-repeat;
  color: var(--text); 
  transition: all 0.5s ease;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem 1rem;
}

ul {
  list-style: none;
}


/* ########### SWITCH ############# */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--red-700);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--red-700);
}

input:checked + .slider:before {
  -webkit-transform:  translateX(24px);
  -ms-transform:  translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}